body {font-family: sans-serif; 
	background-image: url(wild_flowers.png);
	background-repeat: repeat; 

      font-size;100%;}
	  

h1,h2,h3,h4,h5,h6 {font-family:serif;
    color: green}
   
p.float {float:right; border: 3px green; border-style: solid;
box-shadow:3px 3px 5px green;
border-radius: 12px;    
  ;
  
}
blockquote {
background: #bfd255; /* Old browsers */
background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 47%, #72aa00 100%, #9ecb2d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(47%,#8eb92a), color-stop(100%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 47%,#72aa00 100%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #bfd255 0%,#8eb92a 47%,#72aa00 100%,#9ecb2d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #bfd255 0%,#8eb92a 47%,#72aa00 100%,#9ecb2d 100%); /* IE10+ */
background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 47%,#72aa00 100%,#9ecb2d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
padding: 1em;}
